.all_items {
    border-radius: 10px;
    border: black solid;
    padding: 5px;
    background-color: #8f6d51;
}

.list_top {
    display: grid;
    grid-template-columns: 100px 1fr 150px 150px;
    padding: 0px 20px;
}

.items {
    margin-top: 0px;
}

.item {
    border: cornflowerblue solid;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #a7866b;
    padding: 10px 20px;
}

.always_on {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.item:hover {
    background-color: #c5a387;
}

.basic_detail {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 150px 150px ;
}

.item_modify {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}