.content {
    display: flex;
    justify-content: space-around;
    gap: 2.5vw;
    padding: 0px 2.5vw;
}

.cur_list {
    flex: 1;
}

.lists {
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 150px;
    row-gap: 5px;
}

.list button {
    width: 100%;
}

.selected_list {
    background-color: cadetblue;
}

.modify_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}